html, body
{
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: rgb(30,30,30);
}
.frame
{
	overflow: hidden;
	width: 375px;
	height: 667px;
}
.webgl
{
	background: rgba(0,0,0,1);
	display: block;
}
.energy-display
{
	position: absolute;
	top: 0;
	left: 0;
}
.energy-display .counter
{
	color: white;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 20px;
}
.energy-display .watts
{
	color: white;
    font-size: 10px;
    font-family: sans-serif;
}